<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings>
        <add name="PodplayerConnection" connectionString="Server=localhost;Database=PodPlayer;User Id=sa;Password=Fergana12;App=PodPlayer" />
    </connectionStrings>
</configuration>